.btn-cadastrar {
  color: #fff;
  background-color: #825392;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin-bottom: 13px;
}


.container {
  display: flex;
  flex-direction: row;
}